:root {
   --primary-color: #ffd966;
   --secondary-color: #6fa8dc;
   --font-weight-body: 400;
   --font-size-body: 16px;
   --font-weight-headings: 700;
   --cursor-style: pointer;
 }

* {
 box-sizing: border-box;
 /* forces the padding and border to be included in the final
 specified width rather than being added on top, with the
 width of the item itself changing to accommodate the padding
 and border */
}

.pokemon-modal-image {
    width: 50%;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    text-align: center;
}

.close {
  max-width: 75px;
  max-height: 50px;
}

button.btn-primary.search-button {
  display: block;
  width: 250px;
  height: 100px;
  line-height: 100px;
  font-weight: normal;
  text-decoration: none;
  background: var(--secondary-color);
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 4px solid #444;
  margin: 10px;
  transition: all .35s;
  cursor: var(--cursor-style);
}

button.btn-close {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid black;
  margin: 2px 5px 2px 2px;
  float: right;
}

div.modal-body {
  background-color: var(--primary-color);
}

div.modal-header {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: left;
}

div.modal-content {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

header {
  text-align: center
}

body {
  background-color: var(--primary-color);
}

nav {
    background-color: black;
}

footer.bg-dark {
  color: white;
  background-color: black;
}
